@import "tailwindcss";
@plugin "daisyui";

/* This block links DaisyUI to Tailwind v4 variables */



@plugin "daisyui/theme" {
  name: "local";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: #22223B;
  --color-primary-content: #7F7FE5;
  --color-secondary: #4C4C65;
  --color-secondary-content: #B89A94;
  --color-accent: #8a7c69;
  --color-accent-content: #22223B;
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}


html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
/* Base styles - Minimalist */
@layer base {
  html {
    @apply overflow-y-scroll;
  }
  body {
    @apply bg-base-100 text-base-content;
    font-family: Inter, system-ui, sans-serif;
  }
}